.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#footesfluid{
  height: 180px;
}
.footer li{
 color: white;
  list-style: none;
}
.copyright{
  text-align: center;
  color:wheat;
}
.jumbotron{
  background-image: url(/public/istockphoto-1097811822-612x612.jpeg);
  color: wheat;
  object-fit: cover;
}
#jumbotronbutton{
 background-color: red;
}
.card img{
width: 100%;
height: 200px;
object-fit: cover;
}
.cardtitle{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cardText{
  font-weight: bold;
}
